form {
  width: 300px;
  margin: 15px auto;
  padding: 10px;
  border: 1px solid #ddd;
}

#login_btn {
  margin-top: 5px;
  width: 65%;
  display: inline-block;
}

#join_btn {
  margin-top: 5px;
  width: 33%;
  display: inline-block;
}

#google_login_btn {
  margin-top: 12px;
  width: 100%;
}

#google_login_btn i {
  margin-right: 10px;
  font-size: 18px;
}

input {
  display: block;
}