<link rel="stylesheet" type="text/css" href="/css/partials/header.css">

<nav class="navbar navbar-default">
  <div class="nav-left">
    
    <a class="nav-title" href="/"><h1>빈고 CRP</h1></a>
    <ul class="nav nav-tabs">
      <li class="dropdown"><a data-toggle="dropdown" href="/guide">안내</a></li>
      <li class="dropdown"><a data-toggle="dropdown" href="/manage">관리</a></li>
      <li class="dropdown"><a data-toggle="dropdown" href="/chart">통계</a></li>
    </ul>
  </div>

  <div class="nav-right">
    <div class="btn-group" role="group" aria-label="...">
      <button type="button" class="btn btn-default">로그인</button>
    </div>
  </div>
</nav>