<link rel="stylesheet" type="text/css" href="/css/partials/header.css">

<nav class="navbar navbar-default">
  <div class="nav-left">
    
    <a class="nav-title" href="/"><h1>빈고 CRP</h1></a>
    <ul class="nav nav-tabs">
      <li class="dropdown"><a data-toggle="dropdown" href="/guide">안내</span></a>
      </li>
      <li class="dropdown"><a data-toggle="dropdown" href="/manage">관리</span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="/manage/member">조합원 관리</a></li>
          <li><a href="/manage/sheet">장부 관리</a></li>
          <li><a href="/manage/action">활동 관리</a></li>
        </ul>
      </li>
      <li class="dropdown"><a data-toggle="dropdown" href="/chart">통계</span></a></li>
    </ul>
  </div>

  <div class="nav-right">
    <div class="btn-group" role="group" aria-label="...">
      <a href="/signup"><button type="button" class="btn btn-default">회원가입</button></a>
      <a href="/login"><button type="button" class="btn btn-success">로그인</button></a>
    </div>
  </div>
</nav>