<nav class="nav">
  <a class="nav-title" href="/">빈고 CRP</a>
  <ul class="nav-items">
    <li class="nav-item">
      <a href="/login">소개</a>
    </li>
    <li class="nav-item">
      <a href="/login">관리</a>
    </li>
    <li class="nav-item">
      <a href="/login">통계</a>
    </li>
  </ul>
  <a href="/login">로그인</a>
</nav>