<nav>
  <a class="nav-title" href="/">빈고 CRP</a>
  <ul class="nav-menu">
    <li>
      <% if(highlighted === 'guide'){ %>
        <a class="menu-item highlight" href="/guide">안내</a>
      <% } else { %>
        <a class="menu-item" href="/guide">안내</a>
      <% } %>
    </li>
    <li>
      <a class="menu-item" href="/manage">관리</a>
    </li>
    <li>
      <a class="menu-item" href="/chart">통계</a>
    </li>
  </ul>
  <ul class="nav-system">
    <li>
      <a class="menu-item" href="/login">로그인</a>
    </li>
  </ul>
</nav>