<nav class="navbar navbar-default">
  <div class="nav-left">
    <a class="nav-title" href="/">
      <span>빈고 CRP</span>
    </a>
    <ul class="nav nav-tabs">
      <li class="dropdown"><a data-toggle="dropdown" href="/guide">안내</a></li>
      <li class="dropdown"><a data-toggle="dropdown" href="/manage">관리</a></li>
      <li class="dropdown"><a data-toggle="dropdown" href="/chart">통계</a></li>
    </ul>
  </div>

  <ul class="nav-system">
    <li>
      <a class="menu-item menu-login" href="/login">로그인</a>
    </li>
  </ul>
</nav>