<!-- JS Scripts -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js'></script>
<script src="/js/lib/partial.min.js"></script>
<script src="/js/lib/list.min.js"></script>
<script src="/js/lib/hangul.min.js"></script>
<script src='/js/common.js'></script>
</body>
</html>
