[contenteditable]:focus {
  outline: 3px solid rgb(41, 90, 41);
  outline-offset: -2px;
}
[contenteditable]:focus>div{
  text-overflow:clip; 
  overflow:visible;
}

#member-table{
  margin: 15px 10px;
  padding: 2px;
  height: 450px;
  overflow: scroll;  
  width: 100%;
  border: 1px solid black;
}
#member-table:-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
}
#member-table:-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
}


table, th, td{
  border: 1px solid black;
  vertical-align: middle;
  box-sizing: border-box;
  cursor: default;
  font-size: 15px;
}
tr{
  box-sizing: border-box;
  height: 28px;
}
th {
  padding: 5px 12px;
  background-color: #5067a7;
  text-align: left;
  color: #fafeff;
}
td > div{
  margin-top: auto;
  padding: 0 8px;
  white-space: nowrap;
  max-width:85px;
  height: 22px;
  line-height: 27px;
  text-overflow:ellipsis; 
  overflow: hidden;
}
tr:nth-child(even) {background-color: #eaf9fd;}
td:hover {background-color: rgb(206, 241, 211);}