[contenteditable]:focus {
  outline: 3px solid rgb(41, 90, 41);
  outline-offset: -2px;
}
[contenteditable]:focus>div{
  text-overflow:clip; 
  overflow:visible;
}

#member-table{
  margin: 15px 10px;
  height: 450px;
  overflow: scroll;  
  width: 100%;
  border: 1px solid black;
}

table{
}
table, th, td{
  border: 1px solid black;
  vertical-align: middle;
  box-sizing: border-box;
  cursor: default;
  font-size: 15px;
}
thead{
  display: block;
  position: sticky;
  top: 0px; 
  width: 100%;
}
tbody{
  display: block;
  
}
tr{
  height: 28px;
}
th {
  padding: 0 8px;
  background-color: #5067a7;
  text-align: left;
  color: #fafeff;
}
td > div{
  max-width:83px;
  padding: 0 8px;
  white-space: nowrap;
  height: 22px;
  line-height: 27px;
  text-overflow:ellipsis; 
  overflow: hidden;
}
tr:nth-child(even) {background-color: #eaf9fd;}
td:hover {background-color: rgb(206, 241, 211);}