section.title {
  position: relative;
}

.right-buttons {
  position: absolute;
  bottom: 0;
  right: 0;
}

.xls-upload {
  display: inline;
  position: relative;
  margin-left: -80px;
}

.xls-upload>input {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  cursor: pointer;
}

#shortcut-buttons {
  position: relative;
  float: left;
  width: 9%;
  margin-right: 1%;
  margin-top: 5px;
  padding: 5px;
  height: 220px;
  border: 1px solid black;
  text-align: center;
  overflow: hidden;
}

#shortcut-buttons>span {
  border-bottom: 1px solid black;
  display: block;
  width: 100%;
  margin-bottom: 5px;
}

#shortcut-buttons button {
  padding: 3px 6px;
  width: 90%;
  margin-top: 7px;
  overflow: hidden;
}

#editor-form {
  position: relative;
  width: 90%;
  height: 220px;
  border: 1px solid black;
  margin: 15px 0;
  padding: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#remove-btn {
  float: right;
  display: none;
}

#remove-btn>span {
  color: #d64c4c;
}

#add-btn>span {
  color: #337ab7;
}

#editor-form .input-group {
  margin-bottom: 10px;
}

#editor-form input[data-format="money"] {
  text-align: right;
}

#editor {
  margin-top: 10px;
}

div.quick-date>a {
  padding: 3px 5px 3px 0;
  text-decoration: none;
  font-size: 11px;
  color: #1a58b6;
  display: block;
  line-height: 1.3;
  font-family: 'Nanum Barun Gothic', '돋움', sans-serif;
}

input {
  height: 16px;
  background: white url(/img/input.png) left top no-repeat;
}

input.calendar {
  padding: 5px 0px 5px 3px;
  letter-spacing: 3px;
  background-position: -1280px top;
  width: 92px;
  font-weight: bold;
  font-size: 14px;
  border: 1px solid #aaaaaa;
  text-align: start;
  font-family: system-ui;
}

section#tables .tab-content {
  min-height: 400px;
  padding: 5px;
  border: 1px solid #ddd;
  border-top: 0;
  overflow: scroll;
}

.tab-content>div {
  display: none;
}

.tab-content>div.active {
  display: block;
}

table {
  vertical-align: middle;
  cursor: default;
}

th {
  padding: 0 8px;
  background-color: #5067a7;
  color: #fafeff;
  white-space: nowrap;
}

td {
  max-width: 100px;
  padding: 0 0 0 3px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0 10px 0 5px;
}

tr:nth-child(even) {
  background-color: #eaf9fd;
}

#tables tr:hover {
  background-color: rgb(206, 241, 211);
}

#tables tr.selected {
  background-color: #08C;
}

.save-spinner{
  font-size: 24px;
  position: absolute;
  right: -25px;
  top: 5px;
  transition: opacity 0.3s ease-in;
  opacity: 0;
}
.save-spinner.on{
  opacity: 1;
}