<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <% include ../../partials/stylesheet %>
</head>

<body>
  <% include ../../partials/header %>

  <section class="container">
    <p>총 자산 / 출자금 / 1일 증감 / 당월 증감</p>
    <p>최근 장부 n건</p>
    <p>최근 가입한 조합원</p>
    <p>최근 활동</p>
  </section> 

  <% include ../../partials/footer %>
  <% include ../../partials/javascript %>
</body>

</html>