<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <% include ../../partials/stylesheet %>
  <link rel="stylesheet" type="text/css" href="/css/auth/auth.css">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head></head>

<body>
  <% include ../../partials/header %>

  <section class="container">
    <p><%=  messages %></p>
    <form action="/login" method="post">
      <div class="form-group" >
        <label>ID</label>
        <input type="text" class="form-control" name="userId" placeholder="아이디">
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" name="password" placeholder="비밀번호">
      </div>
      <a class="btn btn-info" id="join_btn" >회원가입</a>
      <button type="submit" id="login_btn" class="btn btn-primary">로그인</button>
      <a class='btn btn-danger' id="google_login_btn">
        <i class="fa fa-google-plus"></i>Google로 로그인
      </a>
    </form>
  </section>

  <% include ../../partials/footer %>
  <% include ../../partials/javascript %>
</body>

</html>