<html>

<head>
  <title>
    <%= title %>
  </title>
  <% include ../../partials/stylesheet %>
  <link rel="stylesheet" type="text/css" href="/css/manage/member.css">
</head>

<body>
  <% include ../../partials/header %>
  <div id="container">
    <section class="section-title">
      <h1>조합원 관리</h1>
    </section>
    <section class="member-table">
      <table>
        <tr>
          <th>Company</th>
          <th>Contact</th>
          <th>Country</th>
        </tr>
        <tr>
          <td contenteditable="true">Alfreds Futterkiste</td>
          <td contenteditable="true">Maria Anders</td>
          <td contenteditable="true">Germany</td>
        </tr>
        <tr>
          <td contenteditable="true">Berglunds snabbköp</td>
          <td contenteditable="true">Christina Berglund</td>
          <td contenteditable="true">Sweden</td>
        </tr>
        <tr>
          <td contenteditable="true">Centro comercial Moctezuma</td>
          <td contenteditable="true">Francisco Chang</td>
          <td contenteditable="true">Mexico</td>
        </tr>
        <tr>
          <td contenteditable="true">Ernst Handel</td>
          <td contenteditable="true">Roland Mendel</td>
          <td contenteditable="true">Austria</td>
        </tr>
        <tr>
          <td contenteditable="true">Island Trading</td>
          <td contenteditable="true">Helen Bennett</td>
          <td contenteditable="true">UK</td>
        </tr>
        <tr>
          <td contenteditable="true">Königlich Essen</td>
          <td contenteditable="true">Philip Cramer</td>
          <td contenteditable="true">Germany</td>
        </tr>
        <tr>
          <td contenteditable="true">Laughing Bacchus Winecellars</td>
          <td contenteditable="true">Yoshi Tannamuri</td>
          <td contenteditable="true">Canada</td>
        </tr>
        <tr>
          <td contenteditable="true">Magazzini Alimentari Riuniti</td>
          <td contenteditable="true">Giovanni Rovelli</td>
          <td contenteditable="true">Italy</td>
        </tr>
        <tr>
          <td contenteditable="true">North/South</td>
          <td contenteditable="true">Simon Crowther</td>
          <td contenteditable="true">UK</td>
        </tr>
        <tr>
          <td contenteditable="true">Paris spécialités</td>
          <td contenteditable="true">Marie Bertrand</td>
          <td contenteditable="true">France</td>
        </tr>
        <tr>
          <td contenteditable="true">Königlich Essen</td>
          <td contenteditable="true">Philip Cramer</td>
          <td contenteditable="true">Germany</td>
        </tr>
        <tr>
          <td contenteditable="true">Königlich Essen</td>
          <td contenteditable="true">Philip Cramer</td>
          <td contenteditable="true">Germany</td>
        </tr>
        <tr>
          <td contenteditable="true">Königlich Essen</td>
          <td contenteditable="true">Philip Cramer</td>
          <td contenteditable="true">Germany</td>
        </tr>
        <tr>
          <td contenteditable="true">Königlich Essen</td>
          <td contenteditable="true">Philip Cramer</td>
          <td contenteditable="true">Germany</td>
        </tr>
        <tr>
          <td contenteditable="true">Königlich Essen</td>
          <td contenteditable="true">Philip Cramer</td>
          <td contenteditable="true">Germany</td>
        </tr>
      </table>
    </section>
  </div>

  <% include ../../partials/footer %>
  <% include ../../partials/javascript %>
  <script src='/js/manage/member.js'></script>
</body>

</html>