<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <% include ../../partials/stylesheet %>
  <link rel="stylesheet" type="text/css" href="/css/manage/member.css">
  <link rel="stylesheet" type="text/css" href="/css/jquery-ui.min.css">
  <link rel="stylesheet" type="text/css" href="/css/jquery-ui.theme.min.css">
</head>

<body>
  <% include ../../partials/header %>
  <section class="container">
    <section class="title">
      <h1>조합원 관리</h1>
      <div class="right-buttons btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default">서식 받기</button>
        <button type="button" class="btn btn-default xls-upload">서식 삽입
          <input type="file" value="엑셀파일 업로드">
        </button>
        <button type="button" class="btn btn-default" id="save-btn">저장</button>
      </div>

    </section>
    <form id="editor-form">
      <div id="editor-buttons">
        <button type="button" class="btn btn-default" id="add-btn">
          <span class="glyphicon glyphicon-plus"></span> 새 조합원
        </button>
        <button type="button" class="btn btn-default" id="remove-btn" data-toggle="modal" data-target="#removeModal">
          <span class="glyphicon glyphicon-minus"></span> 행 삭제
        </button>
      </div>
      <div id="editor" class="row">
        
      </div>
    </form>
    <section id="tables">
      <div class="tabs">
        <ul class="nav nav-tabs" role="tablist">
          <li class="active"><a data-toggle="tab" href="#tab-primary">기본 정보</a></li>
          <li><a data-toggle="tab" href="#tab-fund">출자 정보</a></li>
          <li><a data-toggle="tab" href="#tab-util">이용 정보</a></li>
          <li><a data-toggle="tab" href="#tab-action">공동체/활동</a></li>
          <li><a data-toggle="tab" href="#tab-detail">상세 정보</a></li>
        </li>
      </div>
      <div class="tab-content">
        <div id="tab-primary" class="active" data-tablename="primary">
        <table id="table-primary" class="table table-striped table-bordered" style="width:100%" data-tablename="primary">
          <thead>
            <tr>
              <th>코드</th>
              <th>이름</th>
              <th>실명</th>
              <th>지역</th>
              <th>주 공동체</th>
              <th>출자금</th>
              <th>이용금</th>
              <th>비고</th>
              <th>현황</th>
            </tr>
          </thead>
        </table>
        </div>
        <div id="tab-fund" class="" data-tablename="fund">
          <table id="table-fund" class="table table-striped table-bordered " style="width:100%;" data-tablename="fund">
            <thead>
              <tr>
                <th>코드</th>
                <th>이름</th>
                <th>총 출자금</th>
                <th>출자지지금</th>
                <th>최근 출자</th>
                <th>당월 출자</th>
                <th>당월 계획</th>
                <th>총 출자횟수</th>
              </tr>
            </thead>
          </table>
        </div>
        <div id="tab-util" class="" data-tablename="util">
          <table id="table-util" class="table table-striped table-bordered " style="width:100%;" data-tablename="util">
            <thead>
              <tr>
                <th>코드</th>
                <th>이름</th>
                <th>총 이용금</th>
                <th>이용분담금</th>
                <th>당월 이용/반환</th>
                <th>당월 계획</th>
              </tr>
            </thead>
          </table>
        </div>
        <div id="tab-action" class="" data-tablename="action">
          <table id="table-action" class="table table-striped table-bordered " style="width:100%;" data-tablename="action">
            <thead>
              <tr>
                <th>코드</th>
                <th>이름</th>
                <th>주 공동체</th>
                <th>공동체 수</th>
                <th>조합비 횟수</th>
                <th>조합비 내역</th>
              </tr>
            </thead>
          </table>
        </div>        
        <div id="tab-detail" class="" data-tablename="detail">
          <table id="table-detail" class="table table-striped table-bordered " style="width:100%;" data-tablename="detail">
            <thead>
              <tr>
                <th>코드</th>
                <th>이름</th>
                <th>실명</th>
                <th>지역</th>
                <th>가입경로</th>
                <th>금융계좌</th>
                <th>가입일</th>
                <th>탈퇴일</th>
                <th>기념일</th>
                <th>전화1</th>
                <th>전화2</th>
                <th>주소</th>
                <th>웹페이지</th>
                <th>카카오톡</th>
                <th>페이스북</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </section>
  </section>


  <div class="modal" id="removeModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          정말 삭제할까요?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">아니오</button>
          <button type="button" class="btn btn-primary" id="remove-confirm">네</button>
        </div>
      </div>
    </div>
  </div>

  <% include ../../partials/footer %>
  <% include ../../partials/javascript %>
  <script src='/js/lib/moment.min.js'></script>
  <script src='/js/lib/xlsx.min.js'></script>
  <script src='/js/lib/jquery-ui.min.js'></script>
  <script src='/js/manage/member.js'></script>
</body>

</html>