<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <% include ../../partials/stylesheet %>
  <link rel="stylesheet" type="text/css" href="/css/manage/member.css">
</head>

<body>
  <% include ../../partials/header %>
  <section class="container">
    <section class="title">
      <h1>조합원 관리</h1>
      <div class="right-buttons">
        <button>서식 받기</button>
        <div class="xls-upload">
          <input type="file" value="엑셀파일 업로드">
          <button>서식 삽입</button>
        </div>
        <button>저장</button>
      </div>
    </section>
    <form class="i-form">
      <fieldset class="i-slot">
        <div class="label">날짜</div>
        <input class="calendar" type="text" value="20180111">        
        <div class="quick-date">
        </div>
      </fieldset>
    </form>
    <section id="sheets">
      <div class="tabs">
        <ul class="nav nav-tabs" role="tablist">
          <li class="active"><a data-toggle="tab" href="#tab-primary">기본 정보</a></li>
          <li><a data-toggle="tab" href="#tab-fund">출자 정보</a></li>
          <li><a data-toggle="tab" href="#tab-util">이용 정보</a></li>
          <li><a data-toggle="tab" href="#tab-action">공동체/활동</a></li>
          <li><a data-toggle="tab" href="#tab-detail">상세 정보</a></li>
        </li>
      </div>
      <div class="tab-content">
        <div id="tab-primary" class="active">
        <table id="sheet-primary" class="table table-striped table-bordered" style="width:100%">
          <thead>
            <tr>
              <th>코드</th>
              <th>이름</th>
              <th>실명</th>
              <th>분류</th>
              <th>주 공동체</th>
              <th>출자금</th>
              <th>이용금</th>
              <th>비고</th>
              <th>현황</th>
            </tr>
          </thead>
        </table>
        </div>
        <div id="tab-fund" class="">
          <table id="sheet-fund" class="table table-striped table-bordered " style="width:100%;">
            <thead>
              <tr>
                <th>이름</th>
                <th>총 출자금</th>
                <th>출자지지금</th>
                <th>최근 출자</th>
                <th>당월 출자</th>
                <th>당월 계획</th>
                <th>총 출자횟수</th>
              </tr>
            </thead>
          </table>
        </div>
        <div id="tab-util" class="">
          <table id="sheet-util" class="table table-striped table-bordered " style="width:100%;">
            <thead>
              <tr>
                <th>이름</th>
                <th>총 이용금</th>
                <th>이용분담금</th>
                <th>당월 이용/반환</th>
                <th>당월 계획</th>
              </tr>
            </thead>
          </table>
        </div>
        <div id="tab-action" class="">
          <table id="sheet-action" class="table table-striped table-bordered " style="width:100%;">
            <thead>
              <tr>
                <th>이름</th>
                <th>주 공동체</th>
                <th>공동체 수</th>
                <th>조합비 횟수</th>
                <th>조합비 내역</th>
              </tr>
            </thead>
          </table>
        </div>        
        <div id="tab-detail" class="">
          <table id="sheet-detail" class="table table-striped table-bordered " style="width:100%;">
            <thead>
              <tr>
                <th>이름</th>
                <th>실명</th>
                <th>금융계좌</th>
                <th>가입일</th>
                <th>탈퇴일</th>
                <th>기념일</th>
                <th>전화1</th>
                <th>전화2</th>
                <th>주소</th>
                <th>웹페이지</th>
                <th>카카오톡</th>
                <th>페이스북</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </section>
  </section>

  <% include ../../partials/footer %>
  <% include ../../partials/javascript %>
  <script src='/js/lib/xlsx.min.js'></script>
  <script src='/js/manage/member.js'></script>
</body>

</html>