<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <% include ../../partials/stylesheet %>
  <link rel="stylesheet" type="text/css" href="/css/manage/member.css">
</head>

<body>
  <% include ../../partials/header %>
  <section class="container">
    <section class="title">
      <h1>조합원 관리</h1>
      <div class="right-buttons">
        <button>서식 받기</button>
        <div class="xls-upload">
          <input type="file" value="엑셀파일 업로드">
          <button>서식 삽입</button>
        </div>
        <button>저장</button>
      </div>
    </section>
    <form class="i-form">
      <fieldset class="i-slot">
        <div class="label">날짜</div>
        <input class="calendar" type="text" value="20180111">        
        <div class="quick-date">
        </div>
      </fieldset>
    </form>
    <section>
      <table id="sheets" class="table table-striped table-bordered" style="width:100%">
        <thead>
          <tr>
            <th>코드</th>
            <th>이름</th>
            <th>실명</th>
            <th>분류</th>
            <th>출자금</th>
            <th>이용금</th>
            <th>비고</th>
            <th>현황</th>
          </tr>
        </thead>
      </table>
    </section>
  </section>

  <% include ../../partials/footer %>
  <% include ../../partials/javascript %>
  <script src='/js/lib/xlsx.min.js'></script>
  <script src='/js/manage/member.js'></script>
</body>

</html>