<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <% include ../../partials/stylesheet %>
  <link rel="stylesheet" type="text/css" href="/css/manage/member.css">
</head>

<body>
  <% include ../../partials/header %>
  <section class="container">
    <section class="section-title">
      <h1>조합원 관리</h1>
      <input type="text" class="search" placeholder="검색">
      <div class="right-buttons">
        <button class="csv-button">csv파일 삽입</button>
        <button>저장</button>
      </div>
    </section>
    <section id="member-table">
      <table>
        <thead>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
        </tfoot>
      </table>
    </section>
  </section>

  <% include ../../partials/footer %>
  <% include ../../partials/javascript %>
  <script src='/js/manage/member.js'></script>
</body>

</html>