<html>

<head>
  <title>
    <%= title %>
  </title>
  <% include ../../partials/stylesheet %>
  <link rel="stylesheet" type="text/css" href="/css/manage/member.css">
</head>

<body>
  <% include ../../partials/header %>
  <div id="container">
    <section class="section-title">
      <h1>조합원 관리</h1>
    </section>
    <section class="member-table">
    </section>
  </div>

  <% include ../../partials/footer %>
  <% include ../../partials/javascript %>
</body>

</html>