<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <% include ../../partials/stylesheet %>
  <link rel="stylesheet" type="text/css" href="/css/manage/member.css">
</head>

<body>
  <% include ../../partials/header %>
  <section class="container">
    <section class="title">
      <h1>조합원 관리</h1>
      <div class="right-buttons">
        <button>서식 받기</button>
        <div class="xls-upload">
          <input type="file" value="엑셀파일 업로드">
          <button>서식 삽입</button>
        </div>
        <button>저장</button>
      </div>
    </section>
    <form class="i-form">
      <fieldset class="i-slot">
        <div class="label">날짜</div>
        <input class="calendar" type="text" value="20180111">        
        <div class="quick-date">
        </div>
      </fieldset>
    </form>
    <input type="text" class="search" placeholder="검색">
    <section class="sheets">
      <div class="tabs">
        <li class="active-tab" rel="tab1">기본</li>
        <li rel="tab2">출자/이용</li>
        <li rel="tab3">공동체</li>
        <li rel="tab4">활동</li>
      </div>
      <section class="sheet">
        <table>
        </table>
      </section>
    </section>
  </section>

  <% include ../../partials/footer %>
  <% include ../../partials/javascript %>
  <script src='/js/lib/xlsx.min.js'></script>
  <script src='/js/manage/member.js'></script>
</body>

</html>