<html>

<head>
  <title>
    <%= title %>
  </title>
  <% include ../../partials/stylesheet %>
</head>

<body>
  <% include ../../partials/header %>

  <section class="container">
    <p>이것은 조합원 페이지이다</p>
  </section>

  <% include ../../partials/footer %>
  <% include ../../partials/javascript %>
</body>

</html>