<html>

<head>
  <title>
    <%= title %>
  </title>
  <% include ../partials/stylesheet %>
</head>

<body>
  <% include ../partials/header %>

    <section class="container">
      <p class="lead">개요</p>
    </section> 

  <% include ../partials/footer %>
  <% include ../partials/javascript %>
</body>

</html>