<html>

<head>
  <title>
    <%= title %>
  </title>
  <% include ../partials/stylesheet %>
</head>

<body>
  <% include ../partials/header %>

    <section class="container">
      <h1><%= title %></h1>
      <p class="lead">Welcome to <%= title %></p>
    </section> 

  <% include ../partials/footer %>
  <% include ../partials/javascript %>
</body>

</html>